@model IEnumerable<AIS_Cinema.ViewModels.UserTicket>

<h2 class="mb-4">Мои билеты</h2>
<div class="row">
    @foreach (var ticket in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5 class="card-title">@ticket.MovieName</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text"><strong>Дата и время:</strong> @ticket.SessionDateTimeStr</p>
                    <p class="card-text"><strong>Место:</strong> @ticket.RowAndSeatStr</p>
                    <p class="card-text"><strong>Цена:</strong> @ticket.Price ₽</p>
                    <img src="data:image/png;base64,@Convert.ToBase64String(ticket.QrCode)" alt="QR Code" class="img-fluid" />
                </div>
            </div>
        </div>
    }
</div>