@{
    ViewData["Title"] = "Оплата успешна!";
}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <span class="nav-link disabled">Выбор мест</span>
    </li>
    <li class="nav-item">
        <span class="nav-link disabled">Ввод почты</span>
    </li>
    <li class="nav-item">
        <span class="nav-link disabled">Проверка данных</span>
    </li>
    <li class="nav-item">
        <span class="nav-link disabled">Оплата</span>
    </li>
    <li class="nav-item">
        <span class="nav-link active">Подтверждение</span>
    </li>
</ul>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-body text-center">
                <h1 class="card-title text-success">Оплата прошла успешно!</h1>
                <p class="card-text mt-3">Ваши билеты были успешно оплачены. Спасибо за покупку!</p>
                <a asp-controller="Sessions" asp-action="Index" class="btn btn-primary mt-3">Вернуться к сеансам</a>
            </div>
        </div>
    </div>
</div>