<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Успех!</h4>
    <p>Ваш Telegram бот успешно привязан к вашему аккаунту.</p>
    <hr>
    <p class="mb-0">Вы можете закрыть эту страницу.</p>
    <div class="text-center mt-3">
        <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Афиша</a>
        <a asp-controller="Sessions" asp-action="Index" class="btn btn-primary">Сеансы</a>
    </div>
</div>